@{
    ViewData["Title"] = "Home Page";
}

<form action="submitform" method="post" class="text-center w-50 mx-auto my-4">
    <h1>Welcome</h1>
    <h4>Please give me your name</h4>
    <input name="Name" type="text">
    <input type="submit" value="Get Started!" class="btn btn-success m-2">
</form>
